
header {
    background-color: #ffffff;
    padding: 1em;
}

header .logo {
    display: none;
}

header nav li {
    list-style-type: none;
    text-align: center;
    margin: 1rem;
}

header nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between;
        }
    
    
    header .logo {
        display: block;
    }

    header ul {
        display: flex;
        
    }
}